<h1>Application Details</h1>
<span id = "Events Data Link">
  <a href="/sources/<%=@event_identifier%>/events">Event Data</a>
</span>

<h2>URLs By Rank</h2>
<% @rank_url.each do |row| %>
  <span id = "url">
    <a href=<%= "/sources/#{@identifier[:identifier]}/urls#{row[:relative_path]}" %>>
      <%= row[:url] %>
    </a>
  </span>
  <span id = "url_count"><%= row[:count] %></span>
  </br>
<% end %>

<h2>Browser Breakdown</h2>
<% @rank_browser.each do |row| %>
  <span id = "browser"><%= row[:browser] %></span>
  <span id = "browser_count"><%= row[:count] %></span>
  </br>
<% end %>

<h2>OS Breakdown</h2>
<% @rank_os.each do |row| %>
  <span id = "os"><%= row[:os] %></span>
  <span id = "os_count"><%= row[:count] %></span>
  </br>
<% end %>

<h2>Resolutions</h2>
<% @resolution.each do |row| %>
  <span id = "resolution"><%= "#{row[0]} X #{row[1]}" %></span>
  </br>
<% end %>

<h2>Average Response Time</h2>
<% @avg_response_time.each do |row| %>
  <span id = "url">
    <a href=<%= "/sources/#{@identifier[:identifier]}/urls#{row[:relative_path]}" %>>
      <%= row[:url] %>
    </a>
  </span>
  <span id = "avg_response_time"><%= row[:avg].to_f %>ms</span>
  </br>
<% end %>
