<h1>Application Details</h1>
<%= erb :_rankurl  %>

<%= erb :_rankbrowser %>

<%= erb :_rankos %>

<%= erb :_resolutions %>

<%= erb :_avg_response_time %>

<span id = "Events Data Link">
  <a href="/sources/<%=@event_identifier%>/events">Event Data</a>
</span>
</br>

